<form class="form form-horizontal" role="form" name="formValidator" novalidate>
    <div class="form-group form-group-sm">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a>demo</a></li>
                <li class="active">perm</li>
            </ol>
        </div>
    </div>
    <div class="form-horizontal-label-4-1">
        <div class="form-group form-group-sm">
            <div class="col-sm-8">
                <div class="btn-group" admin-perm>
                    <button type="button" class="btn btn-success btn-sm" perm-no="322" ng-click="addRole();">新建</button>
                    <button type="button" class="btn btn-default btn-sm" perm-no="323" ng-click="editRole();">编辑</button>
                    <button type="button" class="btn btn-default btn-sm" perm-no="324">删除1</button>
                    <button type="button" class="btn btn-default btn-sm" perm-no-opposite="324">删除2</button>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="col-sm-8">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm">删除3</button>
                </div>
            </div>
        </div>
    </div>
</form>
